*.out
*.aux
*.ist
*.log
*.fls
*.glg
*.glo
*.gls
*.log
*.swp
*.toc
*.fdb_latexmk
out.*
.vscode/
.idea/
_minted-out/
_minted-test/
pandoc_latex_writer.egg-info/
venv/
test.tex
bibliography.bib
*.glsdefs
*.acn
*.acr
*.alg
